
 <%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.roles == 'employer' %>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
      </div>

  <div class="field">
    <%= f.label :company_location %><br>
    <%= f.text_area :company_location %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_number %><br>
    <%= f.text_field :billing_contact_number %>
  </div>
  <div class="field">
    <%= f.label :billing_contact_person %><br>
    <%= f.text_field :billing_contact_person %>
  </div>
<% end %> 
<% if current_user.roles == 'employee'%>
  <div class="field">
    <%= f.label 'Photo_url' %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :member_name %><br>
    <%= f.text_field :member_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :job_titles_held %><br>
    <%= f.text_area :job_titles_held %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :willing_to_relocate %><br>
    <%= f.check_box :willing_to_relocate %><br>
  </div>
  <div class="field">
      <%= f.label 'How did you hear about us?' %><br>
      <%= f.select :referral_source,  :options => Profile.referral_sources.keys.to_a %>
  </div>
  <div class="field">
    <%= f.label :name_of_referral %><br>
    <%= f.text_field :name_of_referral %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>