<p id="notice"><%= notice %></p>

<% if current_user.admin? %>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company location</th>
      <th>Contact person</th>
      <th>Contact number</th>
      <th>Billing contact number</th>
      <th>Billing contact person</th>
      <th>Avatar url</th>
      <th>Member name</th>
      <th>Address</th>
      <th>Job titles held</th>
      <th>Skills</th>
      <th>Willing to relocate</th>
      <th>Name of referral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.company_name %></td>
        <td><%= profile.company_location %></td>
        <td><%= profile.contact_person %></td>
        <td><%= profile.contact_number %></td>
        <td><%= profile.billing_contact_number %></td>
        <td><%= profile.billing_contact_person %></td>
        <td><%= profile.avatar_url %></td>
        <td><%= profile.member_name %></td>
        <td><%= profile.address %></td>
        <td><%= profile.job_titles_held %></td>
        <td><%= profile.skills %></td>
        <td><%= profile.willing_to_relocate %></td>
        <td><%= profile.name_of_referral %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
<% else %>
<h1> Only admin can view this area</h1>
<% end %>