<div class="profile-container">
    <%= image_tag @profile.avatar.url %>
    <%= image_tag @profile.avatar.url(:medium) %>
    <%= image_tag @profile.avatar.url(:thumb) %>
<p id="notice"><%= notice %></p>
<% if current_user.roles == 'employer' %>
<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<p>
  <strong>Company location:</strong>
  <%= @profile.company_location %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @profile.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @profile.contact_number %>
</p>

<p>
  <strong>Billing contact number:</strong>
  <%= @profile.billing_contact_number %>
</p>

<p>
  <strong>Billing contact person:</strong>
  <%= @profile.billing_contact_person %>
</p>
<% end %> 
<% if current_user.roles == 'employee'%>
<p>
  <strong>Avatar url:</strong>
  <%= @profile.avatar_url %>
</p>

<p>
  <strong>Member name:</strong>
  <%= @profile.member_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Job titles held:</strong>
  <%= @profile.job_titles_held %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Willing to relocate:</strong>
  <%= @profile.willing_to_relocate %>
</p>

<p>
  <strong>Name of referral:</strong>
  <%= @profile.name_of_referral %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |

</div>
<% end %>