<% if params[:role] == '1' %>
   <div class="sign-up-wrapper employer-wrapper" >
       <% else %>
    <div class="sign-up-wrapper employee-wrapper">
<% end %>
<div class="polythene-white">
<div class="form-container">   
<div class="logo-round"><%= image_tag("logo-round.png", :alt => "CONEQTUS") %></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <% if params[:role] == '1' %>
 <h2>Company Sign Up</h2>
    <% else %>
    <h2>Member Sign Up</h2>
    <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field_hidden">
      <%= f.label :roles %><br />
      <%= f.select :roles, User.roles, :selected => params[:role] %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
       </div>
       </div>