 <div class="sub-actions">
    
     <%- if devise_mapping.registerable?  && controller_name == 'registrations' %>
    <%- if  params[:role] != '1' %>
<%= link_to "Sign up as Company", new_registration_path(resource_name, role:'1')  %><br />
<% end -%>
    
<%- if  params[:role] != '0' %>
     <%= link_to "Sign up as Member", new_registration_path(resource_name, role:'0')  %><br />
<% end -%>
    <% else -%>
    <%= link_to "Sign up as Company", new_registration_path(resource_name, role:'1')  %><br />
     <%= link_to "Sign up as Member", new_registration_path(resource_name, role:'0')  %><br />
     <% end -%>
    </div>
    
 <%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

   

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider, role: params[:role]) %><br />
  <% end -%>
<% end -%>
