<div class=" center">
<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tagline</th>
      <th>Description</th>
      <th>Position</th>
      <th>Job type</th>
      <th>Instructions</th>
      <th>Skills</th>
      <th>Prerequisites</th>
      <th>Category</th>
      <th>Location</th>
      <th>Price</th>
      <th>Employer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.tagline %></td>
        <td><%= job.description %></td>
        <td><%= job.position %></td>
        <td><%= job.job_type %></td>
        <td><%= job.instructions %></td>
        <td><%= job.skills %></td>
        <td><%= job.prerequisites %></td>
        <td><%= job.category %></td>
        <td><%= job.location %></td>
        <td><%= job.price %></td>
        <td><%= job.employer_id %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.roles=='employer' %>
<%= link_to 'New Job', new_job_path %>
<% end %>
</div>d