
<%= @user.email %>
<h1><%= @profile.id %></h1>

<%= current_user.id %>



<% if @profile.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@errors.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
          <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= text_field_tag(:company_name) %>
    <h1> <%= @teri_ma_nu %></h1>

<div class="actions">
    <%= submit_tag("submit") %>
</div>
</form>