    <% @users.each do |user| %>
      
        <%= user.id %>
<%= user.email %>
<%= user.roles %>
    
            <% end %>
<h1> Profiles</h1>            
<% @profiles.each do |profile| %>
      
<h1> <%= profile.id %> </h1>

    
            <% end %>
