<div class="form-container">
<div class="logo-round"><%= image_tag("logo-round.png", :alt => "CONEQTUS") %></div>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
      <%= f.submit "Send me instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>