<div class="wrapper">
<div class="splash-module" id="employer-splash"> 
            <div class="center sm-content">
                <h2 class="sm-header"> Hire the experts</h2>
                <p class="sm-desc">& build a workforce of your dreams</p>
                <a class="sm-btn" href="/users/sign_up?role=1"> Hire an expert </a>
                <div class="sm-sec-btn">
                    <%= link_to('Do you want a job?', work_path) %>
                </div> 
            </div>
        </div>
        <span style="clear:both"></span>
        </div>
    <div class="wrapper-polythene">
        
    </div>
    