/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic);
header {
    height:50px;
    width:100%;
    background:#fafafa;
    border:1px solid #ccc;    
    position:fixed;
    top:0;
    z-index:1300;
}
body,html {
    margin:0;
    padding:0;
    width:100%;
    font-family: 'lato',sans-serif;
    height:100%;
    background: #fdfdfd;
    font-size:14px;
}


.employee-wrapper {
    background:url('employee.jpg') center center;
}

.employer-wrapper {
    background:url('employer.jpg') center center;
}

.sign-up-wrapper {
    height:100%;
    background-size:cover;
}

.form-container {
    width:300px;
    margin:auto;
    padding-top:50px;
    text-shadow:1px 1px rgba(255,255,255,0.5);
}

.form-container h2 {
    color: #333;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.form-container input {
     min-width:300px;
    height:30px;
    line-height: 30px;
    border:1px solid #7abcff;
    border-radius:5px;
    font-family: 'lato', sans-serif;
}

.form-container input[type="checkbox"]
{
  min-width:15px;
  height:15px;
  display:inline;
    float:left;
}

.form-container .actions input {
     background:#7abcff;
    color:#fff;
    height:40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px  1px rgba(0,0,0,0.2);
    cursor:pointer;
}

     
.sub-actions a {
     font-size: 16px;
     text-align:center;
    line-height:30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding:5px;
}

#error_explanation, #error_explanation h2, #error_explanation ul {
     max-width:300px;   
    font-family: 'lato',sans-serif;
    border-radius: 2px;
    border:0px;
}

.field_with_errors {
    background:none;
    border: 1px solid #f33;
    border-radius:2px;
}

.field_hidden {
     display:none;      
}

.logo-round, .logo-round img {
     width:150px;
    margin:auto;
}

.sm-sec-btn a {
    color:#fff;
    font-size: 16px;
    line-height: 50px;
    height:50px;
    padding:0px 10px 0px 10px;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    background:rgba(0,0,0,0.5);
}

.sm-sec-btn a:hover {
     background:rgba(0,0,0,1);   
}

.sm-sec-btn {
   width:250px;
   float:left;
    
    margin-left:30px;
}

.polythene-white {
    height: 100%;
     background:rgba(255,255,255,0.8);
}

.error-msg {
    color:#f00;
}

.messages {
   margin-top:50px;
    text-align:center;
    
}

.profile-container {
    max-width:500px;
    margin:auto;
}
.messages p
{
   
    border-radius: 3px;
    position:relative;
    z-index: 1300;
    color:rgba(255,255,255,1);
    text-shadow:1px 1px rgba(0,0,0,0.5);
    height:40px;
    font-family: 'lato',sans-serif;
    line-height: 40px;
    font-size:16px;
    max-width: 930px;
    margin:auto;
    margin-bottom:-40px;
    
}

.messages .notice {
    background:rgba(63,195, 128, 0.7); 
}

.messages .alert {
    background:rgba(214,49,65,0.7);
    border: 0px;
    padding:0px;
}
