body {
    overflow-x: hidden;
}

.wrapper {
    width:100%;
    height:100%;
    color:#fff;
    font-family: 'lato',sans-serif;
}

.wrapper-polythene{
    position:fixed;
    z-index:1000;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    top:0;
    left:0;
}

.splash-module {
    position:absolute;
    top:0;
     width:100%;
    height:100%;
    margin-bottom:0px;
}

#employee-splash {
    background:url('employee.jpg') center center;
    background-size:cover;
}

#employer-splash {
     background:url('employer.jpg') center center;
    background-size: cover;
 	opacity: 0;   
}

.logo {
    margin:0;
    padding:0;
    width:165px;
    float:left;
}
.gate {
    width: 100px;
    float:right;
    height:30px;
        margin: 10px;
        margin-top:10px;
    
    a, a:visited {
        padding:10px;
        line-height: 30px;
        text-align:right;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #7abcff;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }
    
    a:hover {
        background:#4096ee;
    }
}
.center {
    max-width:930px;
    margin:auto;
}

.sm-content {
    position:relative;
    z-index: 1150;
    margin-top: 150px;
    line-height: 1.5;
    font-size: 18px;
    padding: 10px;
    
}

.sm-desc {
     max-width: 500px;
    line-height: 1.5;
    font-size: 18px;
}

.sm-header {
    font-size:50px;
    max-width: 500px;
    line-height: 1;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.sm-desc {
    color:#f3f3f3;
    font-family: 'lato', sans-serif;
}

.sm-btn {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    color:#fff !important ;
    text-transform: uppercase;
    font-family: 'lato',sans-serif;
    line-height: 50px;
    letter-spacing: 1px;
    height:50px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    display:inline-block;
    float: left;
    border-radius: 2px;
}
.sm-btn:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 17px;
}

