<!DOCTYPE html>
<html>
<head>
  <title>Coneqtus12jul</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="messages">
       <% if notice %>
    <p class="notice"> <%= notice %> </p>
       <% end %>
       <% if alert %>
    <p class="alert"> <%= alert %> </p>
       <% end %>
    </div>
<header>
       <div class="center">
        <h1 class="logo"><%= image_tag("logo.png", :alt => "CONEQTUS", :height => "50px") %></h1>
        <div class="gate">
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>       
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>  
        <% end %>
           </div>
        </div>
    </header>
  
<%= yield %>


</body>
</html>
